<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!-- 
    <header class="header-4">
        <div class="branding">
            <a href="..." class="nav-link">
                
                <span class="title">Movie Search</span>
            </a>
        </div>
        <form class="search">
            <label for="search_input">
                <input type="text" class="form-control" placeholder="Search for movies..." [(ngModel)]="title" name="title" (keyup.enter)="getMovie()">
                <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="getMovie()">Go!</button>
            </span>
            </label>
        </form>
        <div class="header-actions">
            <a href="..." class="nav-link nav-icon">
                
            </a>
        </div>
    </header>
    
    
            
        
            <div class = "card">
                <span class="label label-info">Movie results</span>
                  <div *ngFor = "let movie of moviesService.currentSearch">
                
            
            <ul class="list">
                <li>Title: {{movie.title}}</li>
                <li>scorre: {{movie.id}}</li>
                
            </ul>
        
        
            <img class = car-img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
            
            
        </div>
    </div> -->



    <ion-searchbar (ionInput)="getMovie($event)">Go</ion-searchbar>
<ion-list>
  <ion-item *ngFor="let movie of currentSearch">
    {{ item }}
    <li>Title: {{movie.title}}</li>
    <li>score: {{movie.id}}</li>
  </ion-item>
</ion-list>

  <!-- <img class = car-img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">   -->
  
  <h2>Welcome to Movie Search!</h2>
  
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
